@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #001e4d;
    display: flex;
    align-items: flex-start; /* Alinear los elementos al inicio */
    justify-content: center; /* Centrar horizontalmente los elementos */
}

.app {
    background: #fff;
    width: 40%;
    max-width: 40%;
    margin: 300px auto 0;
    border-radius: 10px;
    padding: 30px;
    opacity: 0; /* Ocultar inicialmente el bloque */
    transform: translateY(20px); /* Desplazamiento hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Agregar transición */
}

.app.show {
    opacity: 1; /* Mostrar el bloque */
    transform: translateY(0); /* Sin desplazamiento */
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn, [class$="-input"]{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background: #222;
    color: #fff;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.selected{
    background: #46a842;
}