.nav{
    background: #fff;
    width: 300px;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.list-item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 0 8px 0 8px;
}